<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tour_Booking</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/Tour_Booking.styles.css" asp-append-version="true" /> *@
    <link rel="icon" type="image/png" href="~/assets/const_img/logo.png" sizes="32x32">
    <style>
        #userDropdownItems {
            position: absolute;
            height: 0;
            background-color: white;
            overflow: hidden;
            transition-property: all;
        }

        #userDropdown {
            cursor: pointer;
        }

        #userDropdown:hover #userDropdownItems {
            height: auto;
        }

        .dropdown-item:hover {
            background-color: rgb(196, 192, 192) !important;
        }
    </style>
    <script type="module" src="/js/Navbar.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid nav-container">
                <!-- logo -->
                <div class="nav-logo-container">
                    <a class="nav-logo" href="/">
                        <img src="~/assets/const_img/logo.png" alt="">
                        <span class="">Travalel</span>
                    </a>
                </div>
                <div class="" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <div id="signInUpBtn" style="display: block;">
                            <a href="/User/Member?action=SignIn" class="btn btn-outline-primary nav-item">
                                <i class="fa-solid fa-user"></i>
                                <span>Đăng nhập</span>
                            </a>
                            <a href="/User/Member?action=SignUp" class="btn btn-primary">Đăng kí</a>
                        </div>
                        <li id="userDropdown" class="nav-item no-arrow" style="display: none;">
                            <div class=" nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span id="displayName" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="rounded-circle" style="height: 2rem; width: 2rem;"
                                    src="https://i0.wp.com/sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png?ssl=1" />
                            </div>
                            <!-- Dropdown - User Information -->
                            <div id="userDropdownItems" class="shadow animated--grow-in" aria-labelledby="userDropdown">
                                <p id="profileBtn" class="dropdown-item"
                                    style="padding-left: 2rem; padding-right: 2rem; padding-top: 0.5rem;">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hồ sơ
                                </p>
                                <hr>
                                <p id="bookingTour" class="dropdown-item" data-toggle="modal" data-target="#logoutModal"
                                    style="padding-left: 2rem; padding-right: 2rem;">
                                    <i class="fas fa-calendar fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tour đã đặt
                                </p>
                                <hr>
                                <p id="signOutBtn" class="dropdown-item" data-toggle="modal" data-target="#logoutModal"
                                    style="padding-left: 2rem; padding-right: 2rem;">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sign Out
                                </p>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <div class="nav-route-container nav-container">
                <div class="nav-route-container-list">
                    <a class="nav-route-item" href="/">Tất cả</a>
                    <a class="nav-route-item" href="/Home?order=MBT">Tour bán chạy</a>
                    <a class="nav-route-item" href="/Home?order=IT">Tour nội địa</a>
                    <a class="nav-route-item" href="/Home?order=AT">Tour nước ngoài</a>
                </div>

            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="footer-logo-container">
                <!-- logo -->
                <a class="footer-logo" href="/">
                    <img src="/assets/const_img/logo.png" alt="">
                    <span class="">Travalel</span>
                </a>
                <!-- payment -->
                <div class="footer-payment">
                    <p>Đối tác thanh toán</p>
                    <div class="row footer-payment-list">
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                    </div>

                    <div class="row footer-payment-list">
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                        <div class="col-2 footer-payment-item">
                            <img src="~/assets/const_img/master-card.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <h4>Về Traveloka</h4>
                <div class="footer-item-content">
                    <a href="">Cách đặt chỗ</a>
                    <a href="">Liên hệ chúng tôi</a>
                    <a href="">Trợ giúp</a>
                    <a href="">Tuyển dụng</a>
                </div>
            </div>
            <div class="footer-item">
                <h4>Sản phẩm</h4>
                <div class="footer-item-content">
                    <a href="">Khách sạn</a>
                    <a href="">Vé máy bay</a>
                    <a href="">Vé xe khách</a>
                    <a href="">Đưa đón máy bay</a>
                </div>
            </div>
            <div class="footer-item">
                <h4>Khác</h4>
                <div class="footer-item-content">
                    <a href="">Cách đặt chỗ</a>
                    <a href="">Liên hệ chúng tôi</a>
                    <a href="">Trợ giúp</a>
                    <a href="">Tuyển dụng</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
