.booking {
  padding: 20px;
  background-color: rgba(247, 249, 250, 1);
}

.booking-datepicker {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.booking-datepicker h5 {
  margin: 0;
  color: rgba(1, 148, 243, 1.00);
}

.booking-container {
  padding: 20px;
}

.booking-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.booking-section h4 {
  margin-bottom: 20px;
}

.booking-item {
  padding: 20px;
  border: 1px solid rgba(205, 208, 209, 1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.booking-item-info i {
  color: orange;
}

.booking-item-info p {
  color: rgba(104, 113, 118, 1);
  padding: 4px 10px;
  border: 1px solid rgba(205, 208, 209, 1);
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
}

.booking-item-action h3 {
  color: rgb(255, 94, 31);
}

.booking-item-action {
  width: 30%;
}

.booking-item-action button {
  width: 100%;
}
