@{
    Layout = null;
    ViewData["Title"] = "Member";
    var action = ViewData["Param"].ToString();
	var errorMessage = TempData["ErrorMessage"];
	var successMessage = TempData["SuccessMessage"];
}
@model Tour_Booking.Models.SignInUpViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/User/Member.css">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			@* Header *@
			<div class="card-header">
                @if(action == "SignIn"){
                    <h3>Sign In</h3>
                } else {
                    <h3>Sign Up</h3>
                }
				 @if(errorMessage != null){
                    <h6 id="error_message" hidden>@errorMessage</h6>
                }  
				@if(successMessage != null){
                    <h6 id="success_message" hidden>@successMessage</h6>
                } 
			</div>
			
			
			@* Body *@
			<div class="card-body">
				<form method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" required asp-for="UserName" minlength="6">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" required asp-for="Password" minlength="6">
					</div>
					@if(action == "SignUp"){
                    		<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-pen"></i></span>
							</div>
								<input type="text" class="form-control" placeholder="Fullname" required asp-for="FullName" minlength="2">
							</div>
							<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Phone number" required asp-for="PhoneNumber" minlength="10" maxlength="10">
					</div>
                		}
					
					<div class="form-group d-flex justify-content-around align-items-center mt-2 gap-3">
						@if(action == "SignIn"){
							 <div class="links">
					   				 Don't have an account?<a href="/User/Member?action=SignUp">Sign Up</a>
				    		</div>
							<button type="submit" class="btn login_btn" asp-controller="User" asp-action="DoSignIn">Sign In</button>
								
								
							} else {
								<div class="links">
					    			Already have account?<a href="/User/Member?action=SignIn">Sign In</a>
				    			</div>
								<button type="submit" class="btn login_btn" asp-controller="User" asp-action="DoSignUp">Sign Up</button>
								
								
							}
					</div>
				</form>
			</div>
			</div>

	
			
		</div>
	</div>
</div>
<script>
		let error_message = document.getElementById("error_message");
		let success_message = document.getElementById("success_message");

		if(error_message || success_message){
			Swal.fire({
  			position: "center",
  			icon: `${error_message ? "error" : "success"}`,
  			title: `${error_message ? error_message.innerHTML : success_message.innerHTML}`,
  			showConfirmButton: false,
  			timer: 2000
		});
		}

		window.onload = (e) => {
			let currentUserJson = localStorage.getItem("currentUser");
			if(currentUserJson){
			location.href = "/Home"
			}
		}
		
		
</script>
</body>
</html>